# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Install citypy - Note to add an "!" in front of pip when downloading packages in the cloud
!pip install citipy

Requirement already satisfied: citipy in c:\users\findv\anaconda3\envs\pythondata\lib\site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in c:\users\findv\anaconda3\envs\pythondata\lib\site-packages (from citipy) (0.16)

In [2]:
#Initiate Dependencies

import json
import requests
import pandas as pd
import numpy as np
from pprint import pprint   #pretty print api data structures
from random import uniform  #will enable random sampling of weatherAPI data
from citipy import citipy   #to use nearest_city method from citipy
from config import weather_api_key
from config import g_key

url = 'http://api.openweathermap.org/data/2.5/weather?q='
units = 'imperial'

## Generate Cities List
### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [7]:
cities = []
weather = []
id = []

while len(cities) < 10:

    #Generate random city to search
    longitude = round(uniform(-180,180),3) #this returns a random float. Parameters define lower and upper limits
    latitude = round(uniform(-90, 90), 3) #this returns a random float. Parameters define lower and upper limits
    
    city = citipy.nearest_city(latitude, longitude)
    city_name = city.city_name
    country_code = city.country_code
    
    random_city = (f'{city_name}, {country_code}')
      
    #Perform API call
    query_url = url + city_name + ',' + country_code + "&APPID=" + weather_api_key + "&units=" + units
    response = requests.get(query_url)
    weather_json = response.json()

    if weather_json['cod'] == 200:
        id = weather_json['id']
        city_name = weather_json['name']
        cities.append(random_city)
        weather.append(weather_json)
        
        #Print Log
        print(f'ID: {id}, City Name: {city_name}')
   
    else:
        pass

ID: 1688696, City Name: San Policarpo
ID: 6165406, City Name: Thompson
ID: 3833367, City Name: Ushuaia
ID: 1015776, City Name: Bredasdorp
ID: 2077963, City Name: Albany
ID: 2064735, City Name: Nhulunbuy
ID: 2754668, City Name: Gemeente Heerenveen
ID: 2077963, City Name: Albany
ID: 6170031, City Name: Tuktoyaktuk
ID: 5866583, City Name: Saint Paul Harbor

In [8]:
# My validations

#print(len(np.unique(cities)))
#print(cities)
#pprint(weather_json) 
#id
#lat

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
# Export the city data into a .csv

In [6]:
# Create Dataframe that contains sample city population along with weather data
city_df = pd.DataFrame.from_dict(weather, orient='columns')

# Flatten city_df dataframe
city_df = pd.concat([city_df, city_df['coord'].apply(pd.Series)], axis = 1).drop('coord', axis =1)
city_df = pd.concat([city_df, city_df['main'].apply(pd.Series)], axis = 1).drop('main', axis =1)
city_df = pd.concat([city_df, city_df['wind'].apply(pd.Series)], axis = 1).drop('wind', axis =1)
city_df = pd.concat([city_df, city_df['sys'].apply(pd.Series)], axis = 1).drop('sys', axis =1)
city_df = pd.concat([city_df, city_df['weather'].apply(pd.Series)], axis = 1).drop('weather', axis =1)
city_df = pd.concat([city_df, city_df['clouds'].apply(pd.Series)], axis = 1).drop('clouds', axis =1)

# Ensure there are no duplicated column names
cols=pd.Series(city_df.columns)

for dup in cols[cols.duplicated()].unique(): 
    cols[cols[cols == dup].index.values.tolist()] = [dup + '.' + str(i) if i != 0 else dup for i in range(sum(cols == dup))]
city_df.columns=cols

# Rename and display DataFrame
city_df = city_df[['id', 'name', 'country', 'lat', 'lon', 'temp', 'humidity', 'all', 'speed']]
city_df = city_df.rename(columns = {'lat':'latitude', 'lon':'longitude','all': 'cloudiness', 'speed': 'wind_speed'})
city_df

,id,name,country,latitude,longitude,temp,humidity,cloudiness,wind_speed
0,5882953,Aklavik,CA,68.22,-135.01,13.32,85.0,85,6.49
1,2017155,Saskylakh,RU,71.92,114.08,19.58,97.0,85,4.94
2,5855927,Hilo,US,19.73,-155.09,63.54,92.0,100,5.01
3,5225857,Aberdeen,US,45.46,-98.49,27.48,82.0,100,4.92
4,4035715,Avarua,CK,-21.21,-159.78,75.18,77.0,2,4.88
5,2163355,Hobart,AU,-42.88,147.33,45.30,92.0,85,3.22
6,1244713,Haputale,LK,6.77,80.96,66.09,82.0,99,4.83
7,4035715,Avarua,CK,-21.21,-159.78,75.18,77.0,2,4.88
8,87205,Darnah,LY,32.77,22.64,72.52,72.0,86,16.40
9,3517970,Pochutla,MX,15.74,-96.47,75.00,87.0,0,2.37

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
clean_city_df = city_df[city_df['humidity']<100]
clean_city_df

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression